body {
  font-family: sans-serif;
  margin:0;
}

.navbar {
  width: 100%;
  background-color: #2F3273;
  border-radius: 2px;
}

.navbar-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 0;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #777DF2;
}

.content {
  max-width: 1280px;
  margin: auto;
  padding-left: 10px;
}

footer, footer a {
  font-size: 12px;
  color: #999;
  text-align: center;
  padding: 50px 0 30px 0;
}
